html
    head
        title Chink
    body(style='font-family: sans-serif')
        block content
        block foot
            #footer
                p (c) chink
        block scripts
            script(src='/chink.js')
