<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        *, body, html, p, pre, code {
            margin: 0;
            padding: 0;
        }

        pre {
            display: none;
        }
    </style>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/tomorrow.min.css">
</head>
<body>

<!--<p><%= user.name.first %> is a <%= user.age %> year old <%= user.species %>.</p>-->

<pre>
    <code>
import Koa from 'koa'
import Router from 'koa-router'
import { join } from 'path'
import views = require('koa-views')

const app = new Koa()
const router = new Router()

app.use(views(join(__dirname, '/views'), {extension: 'ejs'}))

router.get('/user', async (ctx) => {
    const user = {
        name: {
            first: 'John',
            last: 'Doe'
        },
        species: 'ferret',
        age: 3
    }

    await ctx.render('user', {user})
})

app.use(router.routes())

const {HOST_PORT = 3000} = process.env

app.listen(HOST_PORT)

console.log(`Server running on port ${HOST_PORT}`)
    </code>
</pre>

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
<script>
    document.body.addEventListener('mouseup', () => {
        console.log(window.getSelection())
    })

    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('pre code').forEach((block) => {
            hljs.highlightBlock(block);
            document.querySelectorAll('pre').forEach((preBlock) => {
                preBlock.style.display = 'block'
            })
        });
    });
</script>
</body>
</html>