<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

<% if (user) { %>
    <h3><%= user._json.login || user._json.username %></h3>
    <div>
        <a href="/logout">Logout</a>
    </div>
<% } else { %>
    <div>
        <a href="/auth/github">Login with GitHub</a>
    </div>
    <div>
        <a href="/auth/gitlab">Login with GitLab</a>
    </div>
<% } %>

</body>
</html>