p User: #{user.github_user_id}
p User Profile: #{user.github_profile.username}
//a(href="https://github.com/" + user.github_profile.username) Github Link

br

select
    each repo in repos
        option(value=repo.full_name) #{repo.full_name}

br
a(target="_blank" href='/logout') Logout