html
    head
        title Chink
        block scripts
            script(src='/jquery.js')
    body(style='font-family: sans-serif')
        block content
        block foot
            #footer
                p (c) chink